
doctype html
html(lang="en")
	head
		title Advice
		div: div: h3 Product List

	body

		table(border='1')
			thead
				tr
					th  ลำดับ
					th  Name
					th  Price
			tbody
				each item, i in result
					tr
						td= i+1 
						td= item.Name
						td= item.Price